{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}

	<h4>Vous avez {{ hours_diff }} heures de retard :</h4>
	<br/>
	<h4>Frais supplémentaires de location : {{ hours_diff * 2 }} € </h4>

	{{ dump()}}

{% endblock %}