{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}

	<h4>Vous avez {{ total_diff }} heures de retard :</h4>
	<br/>
	<h4>Frais supplémentaires de location : {{ total_post_loc_payment }} € </h4>

{% endblock %}