{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}
	
	<div class="">

		<h4>Ajouter un nouveau vehicule</h4>
		{{ form_start(form, {'method': 'post', 'attr': {'novalidate': 'true'}}) }}
    		{{ form_widget(form) }}
		{{ form_end(form) }}

	</div>

{% endblock %}