{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}


{% block body %}
    <h1>Edition d'une voiture</h1>

	 {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}
{% endblock %}