.disabled {
    color: #d0d0d0;
}

/*-----------
	logo
----------*/
.navbar-brand {
	padding: 0 !important;
}

.navbar-brand .logo {
	height: 50px;
    max-width: 100%;
}

.img {
	min-height: 15em;
	max-height: 15em;
	object-fit: cover;
}


/*------------------
	nav inversed
------------------*/

.bg-inverse {
	background: #0e2e3e;
}

.drop-inverse > a {
	color: white !important;
}

.nav-inverse li a {
	color: white !important;
}

/*------------------
	nav inversed
------------------*/
.slider {
	/*background-color: darkgrey;*/
}

.slider a {
	cursor: pointer;
	color: black;
	transition: all 0.4s;
	margin: 0.5em;
}

.slider a:hover {

}

.slider a .img-home {
	width: 95%;
	max-height: 210px;
	display: block;
	margin: 10px auto;
}

.slider a p {
	text-align: center;
}

.slider .slick-center {
	color: blue;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}