.disabled {
    color: #d0d0d0;
}

/*-----------
	logo
----------*/
.navbar-brand {
	padding: 0 !important;
}

.navbar-brand .logo {
	height: 50px;
    max-width: 100%;
}

.img {
	min-height: 15em;
	max-height: 15em;
	object-fit: cover;
}


/*------------------
	nav inversed
------------------*/

.bg-inverse {
	background: #0e2e3e;
}

.drop-inverse > a {
	color: white !important;
}

.nav-inverse li a {
	color: white !important;
}