{% extends 'base.html.twig' %}
{% use 'templates/menu.html.twig' %}

{% block body %}
	
	<div class="">
		<h4>Ajouter une nouvelle offre</h4>
		{{ form_start(form, {'attr': {'novalidate': 'true'}} )}}
		   {{ form_widget(form) }}
		{{ form_end(form) }}
	</div>

{% endblock %}